* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hover: #c5c5c5;
}

html {
    scroll-behavior: smooth;
}


/* start of header section */
.header_section {
    display: flex;
    height: 70px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
}

.header_part_one,
.header_part_two {
    width: 50%;
    padding: 25px;
}

.header_part_one ul li,
.header_part_two ul li {
    list-style-type: none;
}

.header_part_one ul li a,
.header_part_two ul li a {
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}


.header_part_two ul {
    display: flex;
    justify-content: flex-end;
}

.header_part_two ul li {
    margin: 0 20px;
}

.header_part_one ul li a:hover,
.header_part_two ul li a:hover {
    background-color: var(--hover);
}

/* end of header section */
/* ======================================= */
/* this is the start of first section */
.section1 {
    width: 80%;
    margin: 0 auto;
}

.section1_banner img {
    width: 100%;
}

.section1_title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 54px;
    font-family: serif;
    margin-left: 100px;
    color: #595A5D;
    position: relative;
    bottom: 80px;

}

/* this is the end of first section */
/* ============================================= */
/* this is the start of second section */
.section2 {
    display: flex;
    width: 60%;
    margin: 0 auto;
    height: 80%;
    margin-bottom: 100px;
}

.section2_image {
    display: flex;
    justify-content: flex-end;
    width: 45%;
    margin: 0 auto;
}

.section2_image img {
    width: 93%;
}

.section2_content {
    width: 55%;
}

.section2_heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    margin: 35px 0 60px 0;
}

.section2_subheading {
    text-align: center;
    font-family: serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.section2_para1,
.section2_para2 {
    padding: 0px 65px;
}


.section2_para1 {
    line-height: 24px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

.section2_para2 {
    line-height: 24px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #757575;
}

/* this is the end of section 2 */
/* ================================================================ */
/* this is the start of section 3 */
.section3 {
    display: flex;
    width: 60%;
    margin: 0 auto;
    height: 80%;
    margin-bottom: 100px;
}

.section3_image {
    display: flex;
    justify-content: flex-end;
    width: 45%;
    margin: 0 auto;
}

.section3_image img {
    width: 93%;
}

.section3_main_heading {
    text-align: center;
    font-size: 36px;
    letter-spacing: 2px;
    padding: 25px 0;
}

.section3_subheading {
    font-size: 20px;
    padding: 25px 0;
    letter-spacing: 2px;
}

.section3_paragraph {
    color: #757575;
    font-family: 'Times New Roman', Times, serif;
}

.section3_subheading_and_content {
    padding: 10px 0;
}

/* this is the end of third section */
/* ======================================================= */
/* this is the start of fourth section */
.section4 {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 200px;
}

.section4_Main_heading {
    font-size: 36px;
    padding: 40px 0 30px 0;
}

.section4_subcontent_para_one {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 23px;
    padding: 0px 60px 10px 0;
    word-spacing: 2px;
}

.section4_subcontent_para_two {
    color: #607D8B;
    font-size: 18px;
    line-height: 27px;
    padding: 0 0 10px 0;
}

.section4_subcontent_para_three {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 23px;
    word-spacing: 2px;
    padding: 0 0 20px 0;
}


/* ------------------- */
/* form in section 4 */
/* ------------------ */
.contact_form_name input[type=text],
.contact_form_number_of_people input[type=number],
.contact_form_date input[type="date"],
.contact_form_textarea input[type=text] {
    width: 93%;
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    outline: none;
    border-bottom: 1px solid gray;
    padding-left: 15px;
}

.contact_form_submit input[type="submit"] {
    color: black;
    text-transform: uppercase;
    border: none;
    margin: 40px 0 0 0;
    padding-left: 15px;
    background-color: white;
}

/* end of fourth section */
/* ===================================== */
/* start of footer  */
footer {
    color: #000;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #000;
    text-decoration: none;
}